Package: com.jake0oo0.instamute
Name: InstaMute
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Mute Instagram Followers
Maintainer: Jake
Author: Jake
Section: Tweaks
Version: 0.0.1-103
Installed-Size: 136
